<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<body>
<section class="bg-primary p-y-sm">
    <div class="container">
        <ol class="breadcrumb custom mb-0">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Orders</li>
        </ol>
    </div>
</section>
<div class="container mt-4">
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Item Price</th>
                <th>Item Qty</th>
                <th>Product Id</th>
            </tr>
            </thead>
            <tbody>
            <div th:remove="tag" th:each="order:${orders}"
                 th:with="itemCount=${order.items.size()}">
                <tr>
                    <td rowspan="${itemCount}"><span th:text="${order.id}">Id</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.email}">Email</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.firstName}">First Name</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.lastName}">Last Name</span></td>
                    <td><span th:text="${itemCount>0}?${order.items[0].price}:''">Item Price</span></td>
                    <td><span th:text="${itemCount>0}?${order.items[0].quantity}:''">Item Qty</span></td>
                    <td><span th:text="${itemCount>0}?${order.items[0].productId}:''">Product Id</span></td>
                </tr>
                <tr th:each="item,stats:${order.items}" th:if="${!stats.first}">
                    <td rowspan="${orders.items.size()}"><span th:text="${order.id}">Id</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.email}">Email</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.firstName}">First Name</span></td>
                    <td rowspan="${orders.items.size()}"><span th:text="${order.lastName}">Last Name</span></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.productId}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>